# use glob syntax
syntax: glob

# Ignore Visual Studio 2010 files
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.orig
..svnbridge
code_drop/
build_output/
App_Data/error-*
.vs/
build-output/
node_modules/
bower_components/
.sass-cache/
src/packages/

\.dotnet/

tools/

src/LegalBricks.Interview.Test/wwwroot/dist/

src/LegalBricks.Interview.Test/projects/ClientApp/dist/
